@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To TimeDeck</h1>
    <p>
        An example of a simple yet informative way for employees to keep track
        of their hours worked, PTO time left, and personal settings on account.
    </p>
</div>
